// General COLORS VARIABLES
$black: #272727;
$greyTextColor: #A1A1A1;
// Fonts
$font: 'Poppins',
sans-serif;
// Site Colors
$primaryColor:#015CAB;
$secondaryColor:#202020;
// Padding
$topPaddingBlock:117px;